:root{

--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;

}

#nav-bar,
#bot-foot{
    background-color: var(--dark-gray);
    color: var(--white);
}
#intro,
#about{
    background-color: var(--aqua);
    color: var(--white);
}
#portfolio,
#contact{
    background-color: var(--white);
}
#top-foot{
    background-color: var(--light-gray);
    color: var(--white);
}
#intro img{
    width: 300px;
}