:root{

--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;

}

header{
    background-color: var(--dark-gray);
    color: var(--white);
}

#bot-foot{
    background-color: var(--dark-gray);
    color: var(--white);
}
#intro,
#about{
    background-color: var(--aqua);
    color: var(--white);
}
#portfolio,
#contact{
    background-color: var(--white);
}
#top-foot{
    background-color: var(--light-gray);
    color: var(--white);
}
#intro img{
    width: 300px;
}
#intro h1{
    font-size: 3rem;
}
.img-container::after{
    display: flex;
    content: '+';
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 128, 96, 0.5);
    color: white;
    opacity: 0;
}
.img-container:hover::after{
    opacity: 1;
}
.img-container{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#mynav a:hover{
    color: var(--aqua);
}